{{ define "footer" }}
<section id="footer">
    <section id="footer-contact">
        <span id="footer-contact-name">Lachlan Lancaster</span>
        <span id="footer-contact-email">lachlan@princeton.edu</span>
    </section>
    <section class="footer-links">
        <a href="https://github.com/ltlancas" class="footer-link">GitHub</a>
        <a href="https://twitter.com/lachlanlancaster" class="footer-link">Twitter</a>
        <a href="https://www.linkedin.com/in/lachlan-lancaster-3181576a" class="footer-link">Linkedin</a>
    </section>
    <section class="footer-links">
        <a href="/" class="footer-link">About</a>
        <a href="/research" class="footer-link">Research</a>
        <a href="/talks" class="footer-link">Talks & media</a>
    </section>
</section>
{{ end }}
