<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lachlan Lancaster - Research</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    {{ template "header"}}
    <div id="research-header">
        <h1 id="research-header-title">Research</h1>
        <h3 id="research-header-desc">
            A list of my publications can be found <a href="https://ui.adsabs.harvard.edu/user/libraries/nkdAMXcpTvSel3KIqoxaQw">here</a>. For those who prefer to search for me with an ORCiD, mine is<br>
            <a href="https://orcid.org/0000-0002-0041-4356">0000-0002-0041-4356</a>.
        </h3>
    </div>
    <section id="recent-work" class="research-page">
        <section id="recent-work-header">
            <span class="section-header">All Research Posts</span>
            <a href="/research" class="custom-underline link">Research Summary</a>
        </section>
        {{ range . }}
            <a href="{{ .Link }}" class="recent-work-item" id="{{ .ID }}">
                <section class="recent-work-item-left">
                    <div class="recent-work-item-date">{{ .Date }}</div>
                    <div class="recent-work-item-title">{{ .Title }}</div>
                    <p class="recent-work-item-desc">
                        {{ .Description }}
                    </p>
                </section>
                <span class="recent-work-item-arrow">→</span>
            </a>
        {{ end }}
    </section>
    {{ template "footer" }}
</body>

</html>