<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lachlan Lancaster - Research</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    {{ template "header"}}
    <div id="research-header" class="talks">
        <h1 id="research-header-title">Talks & Media</h1>
    </div>
    <section id="talks-list">
        {{ range . }}
        <section id="talks-list-item">
            <img src="/public/images/{{ .Image }}" alt="{{ .Image }}">
            <section id="talks-list-item-details">
                <p id="talks-list-item-details-title">{{ .Title }}</p>
                <p id="talks-list-item-details-desc">{{ .Description }}</p>
                <a href="{{ .Link }}" class="custom-underline">{{ .CallToAction }}</a>
            </section>
        </section>
        {{ end }}
    </section>
    {{ template "footer" }}
</body>

</html>